{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!
{% endblock %}

{% block body %}
	<h4 class="text-center my-3 pb-3"><a href="/">ToDo App on Symfony</a></h4>
	<div class="dropdown position-fixed top-0 start-0 mt-1 ms-1">
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
			Привет, {{ app.user.username }}!
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<li>
				<a class="dropdown-item" href="/logout">LogOut</a>
			</li>
		</ul>
		{% else %}
		<button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
			Войти
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<li>
				<a class="dropdown-item" href="/login">LogIn</a>
			</li>
		</ul>
		{% endif %}
	</div>
	{% for message in app.flashes('notification') %}
		<div class="alert alert-info alert-dismissible fade show">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
	{% endfor %}
	{% if tasks|length > 0  %}
		<table class="table mb-4">
			<thead>
				<tr>
					{%  set sortBy = app.session.get('sort') %}
					{%  set orderBy = app.session.get('order') %}
					{% if sortBy is same as ('id') and orderBy is same as ('ASC') %}
					<th scope="col"><a href="?page={{ tasks.currentPage }}&sort=id&order=DESC">№</a></th>
					{% else %}
					<th scope="col"><a href="?page={{ tasks.currentPage }}&sort=id&order=ASC">№</a></th>
					{% endif %}
					{% if sortBy is same as ('username') and orderBy is same as ('ASC') %}
					<th scope="col"><a href="?page={{ tasks.currentPage }}&sort=username&order=DESC">Имя</a></th>
					{% else %}
					<th scope="col"><a href="?page={{ tasks.currentPage }}&sort=username&order=ASC">Имя</a></th>
					{% endif %}
					{% if sortBy is same as ('email') and orderBy is same as ('ASC') %}
					<th scope="col"><a href="?page={{ tasks.currentPage }}&sort=email&order=DESC">Email</a></th>
					{% else %}
					<th scope="col"><a href="?page={{ tasks.currentPage }}&sort=email&order=ASC">Email</a></th>
					{% endif %}
					<th scope="col">Текст задачи</th>
					{% if sortBy is same as ('status') and orderBy is same as ('ASC') %}
					<th scope="col"><a href="?page={{ tasks.currentPage }}&sort=status&order=DESC">Статус</a></th>
					{% else %}
					<th scope="col"><a href="?page={{ tasks.currentPage }}&sort=status&order=ASC">Статус</a></th>
					{% endif %}
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<th scope="col">Действия</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for task in tasks.result %}
					<tr>
						<th scope="row">{{ task.id }}</th>
						<td>{{ task.username }}</td>
						<td>{{ task.email }}</td>
						<td>{{ task.text }}</td>
						{% if task.status == 0 %}
							<td>В работе</td>
						{% elseif task.status == 1 %}
							<td>Завершена</td>
						{% else %}
							<td>Отклонена</td>
						{% endif %}
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<td>
							<a href="/delete/{{ task.id }}" class="btn btn-danger">Удалить</a>
							<a href="/edit/{{ task.id }}" class="btn btn-success ms-1">Редактировать</a>
							
						</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include "utils/paginator.html.twig" with {'p':tasks} %}
	{% else %}
		<p class="card-text">Список задач пустой.</p>
	{% endif %}
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editForm">
		Добавить новую задачу
	</button>
	<!-- Modal -->
	{% if app.request.attributes.get('_route') == "edit" %}
	<div class="modal fade show" id="editForm"  style="display: block;" tabindex="-1" aria-labelledby="editFormLabel" aria-modal="true" role="dialog">
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			var myModal = new bootstrap.Modal(document.getElementById("editForm"), {});
				document.onreadystatechange = function () {
				myModal.show();
			};
		}, false);
	</script>

	{% else %}
	<div class="modal fade" id="editForm" tabindex="-1" aria-labelledby="editFormLabel" aria-hidden="true" >
	{% endif %}
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editFormLabel">Новая задача</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">{{ form(task_form) }}</div>
			</div>
		</div>
	</div>
{% endblock %}
