<!doctype html>
<html lang="ru">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block stylesheets %}
			<!-- Bootstrap CSS -->
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
			<style>
				.btn:focus,
				.btn:active {
					outline: none !important;
					box-shadow: none !important;
				}
			</style>
		{% endblock %}
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
	</head>
	<body>
		<section class="vh-100" style="background-color: #eee;">
			<div class="container py-5 h-100 ">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col col-lg-12 col-xl-12">
						<div class="card rounded-3">
							<div class="card-body p-4">{% block body %}{% endblock %}</div>
						</div>
					</div>
				</div>
			</div>
		</section>
			{% block javascripts %}
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"> </script>
			{% endblock %}
			</body>
	</html>
