{% if p.hasToPaginate %}
	<nav aria-label="ToDo List pagination">
		<ul class="pagination justify-content-center">
			{% if p.hasPrevPage %}
				<li class="page-item">
					<a class="page-link" href="?page={{p.getPrevPage}}">Назад</a>
				</li>
			{% else %}

				<li class="page-item disabled">
					<span class="page-link">Назад</span>
				</li>
			{% endif %}
			{% set limit = 5 %}
			{% set fromPage = p.currentPage > limit ? p.currentPage - limit: 1 %}
			{% set toPage = p.lastPage - p.currentPage >= limit ? p.currentPage + limit : p.lastPage %}
			{% for i in fromPage..toPage %}
				{% if i == p.currentPage %}
					<li class="page-item active" aria-current="page">
						<span class="page-link">{{ i }}</span>
					</li>
				{% else %}
					<li class="page-item">
						<a class="page-link" href="?page={{ i }}">{{ i }}</a>
					</li>
				{% endif %}
			{% endfor %}
			{% if p.hasNextPage %}
				<li class="page-item">
					<a class="page-link" href="?page={{p.getNextPage}}">Вперед</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<span class="page-link">Вперед</span>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endif %}
